.filter-btn {
  font-size: 1.2rem;
  border: 0;
  background: unset;
  display: flex;
  align-items: center;
  font-weight: 700;
}
.filter-btn > img {
  width: 15%;
}
.holder-stock {
  display: flex;
  justify-content: flex-end;
}

.stock-holder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
}
.stock-text {
  margin-right: 0.5rem;
  font-size: 0.8rem;
}

.stock-holder > label {
  margin-bottom: unset;
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 0;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: var(--linear-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 50px;
}

.slider.round:before {
  border-radius: 50%;
}

.search-input {
  background: linear-gradient(90deg, #ea5068, #f9ae03);
  padding: 0.1rem;
}
.search-input > .input {
  font-size: 1rem;
  padding: 0 10px;
  flex: 1 0 auto;
  color: #5a5a5a;
  height: 2rem;
  width: 100%;
  border: 0;
  border-radius: 0.15rem;
  cursor: pointer;
  font-weight: 700;
}

.result {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 800;
}

.result > span {
  color: var(--primary-color);
  font-weight: 700;
  text-align: left;
  line-height: 1.25rem;
  font-size: 0.8rem;
}
.result-heading {
  font-size: 0.8rem !important;
  color: #000 !important;
}

.sort {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

.sort > span {
  font-weight: 700;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.sort > select {
  width: 8rem;
}

.page-link {
  color: var(--primary-color);
  padding: 0.3rem 0.5rem;
}
.page-link:hover {
  color: var(--primary-color);
}

@media (max-width: 992px) {
  .holder-search {
    padding-left: 15px;
    padding-right: 15px;
  }
  .result {
    flex-direction: column;
    align-items: flex-start;
  }
  .result > span {
    font-size: 1rem;
  }
  .stock-text {
    font-size: 1rem;
  }
  .sort > select {
    width: 100px;
    margin-left: 0.6rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
  }
  .sort > span {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding: unset;
  }
}
