.btn-modal {
  position: absolute;
  top: 50%;
  transform: rotate(-90deg);
  right: -2.4rem;
  z-index: 1;
  width: 7rem;
  background-color: var(--primary-color);
  border: unset;
  font-weight: 700;
}

.btn-modal:hover {
  background-color: #dc1a38;
}
.modal-header {
  color: var(--primary-color);
  border-bottom: unset;
}
.modal-header > button > span {
  font-size: 2.3rem;
}
.close {
  opacity: unset;
  color: var(--primary-color);
}
.modal-body > .form-control {
  border-color: var(--primary-color);
}
.modal-footer {
  border-top: unset;
}
.modal-footer > button {
  background-color: var(--primary-color);
  color: #fff;
  border-color: unset;
  padding: 0.3rem 1.5rem;
}

@media (max-width: 576px) {
  .rodal-dialog {
    min-width: 14rem !important;
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 780px;
  }
}

@media (max-width: 992px) {
  .small-btnfilter {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #efefef, #fff);
  }
  .small-btnfilter > .filter-btn {
    width: 2rem;
    font-size: initial;
  }
  .small-btnfilter > .filter-btn > img {
    width: 100%;
  }
  .sidebar {
    height: 100%;
  }

  .rodal-dialog {
    width: 30% !important;
    height: auto !important;
    padding: unset !important;
    right: 0 !important;
    margin: unset !important;
    background: linear-gradient(90deg, #efefef, #fff) !important;
    min-width: 15rem;
  }
  .rodal-mask {
    background: rgba(0, 0, 0, 0.75) !important;
  }
  .btn-rose,
  .btn-grey {
    width: 5rem !important;
  }
  .rodal-close {
    display: none;
  }

  .btns {
    padding: 0.375rem 0.75rem !important;
  }
}
